.footer {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: #f1f1f1;
  padding: 20px 50px;
  color: rgba(0, 0, 0, 0.274); }
  @media (max-width: 770px) {
    .footer {
      padding: 20px;
      flex-direction: column; } }
  .footer_links {
    display: flex;
    justify-content: space-between;
    width: 70%; }
    @media (max-width: 770px) {
      .footer_links {
        width: 100%; } }
  @media (max-width: 770px) {
    .footer-text {
      margin-bottom: 20px; } }
  .footer-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.274); }
    .footer-link:first-child {
      margin-right: 20px; }
