.footer {
  background-color: #191919;
  padding: 20px 0; }
  @media (max-width: 770px) {
    .footer {
      padding: 20px 20px 25px 20px; } }
  .footer_inner {
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 770px) {
      .footer_inner {
        flex-direction: column; } }
  .footer_text {
    color: #948889;
    font-size: 12px;
    text-decoration: none; }
    @media (max-width: 770px) {
      .footer_text {
        max-width: 80%; } }
    @media (max-width: 330px) {
      .footer_text {
        max-width: 90%; } }
    .footer_text--bold {
      font-family: Montserrat-Medium;
      color: #706163;
      font-weight: 900; }
    @media (max-width: 770px) {
      .footer_text:first-child {
        margin-bottom: 15px;
        line-height: 24px; } }
  .footer_link {
    font-size: 12px;
    text-decoration: none;
    color: #988c8d; }
