.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 940px;
  margin: auto; }
  @media (max-width: 770px) {
    .header {
      padding: 20px; } }
  .header .navigation_link {
    text-decoration: none;
    color: black;
    padding-left: 15px;
    font-weight: 900; }
    @media (max-width: 770px) {
      .header .navigation_link {
        font-size: 14px; } }

@media (max-width: 770px) {
  .logo {
    max-width: 85%; } }
