.join {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 50px 50px;
  box-sizing: border-box;
  min-width: 620px; }
  @media (max-width: 620px) {
    .join {
      min-width: auto;
      height: 100%;
      border: none;
      padding: 60px 20px 30px; } }
  .join_title {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 10px;
    display: flex;
    font-weight: 600;
    font-family: Montserrat-Semibold, sans-serif;
    justify-content: space-between;
    width: 100%; }
  .join_text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 30px;
    min-height: 50px; }
    @media (max-width: 980px) {
      .join_text {
        width: 100%;
        margin-bottom: 60px;
        max-width: 100%; } }
  .join_input {
    margin-bottom: 40px;
    position: relative; }
    .join_input:last-of-type {
      margin-bottom: 76px; }
    .join_input-input {
      font-family: Montserrat-Medium, sans-serif;
      font-size: 18px;
      line-height: 30px;
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      padding: 10px 0;
      height: 20px;
      width: 100%; }
      .join_input-input:focus {
        border-bottom: 1px solid #333; }
      .join_input-input:focus + .join_input-placeholder, .join_input-input:valid + .join_input-placeholder {
        font-size: 14px;
        bottom: 100%;
        opacity: 1; }
    .join_input-placeholder {
      position: absolute;
      bottom: 10px;
      left: 0;
      font-size: 18px;
      font-weight: 300;
      color: #333333;
      opacity: 0.25;
      transition: 0.25s; }
  .join_btn {
    max-width: 100%;
    padding: 20px;
    color: #fff;
    background-color: #d03c31;
    transition: .25s;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0; }
    .join_btn:hover:not(:disabled) {
      background-color: #aa332b; }
    .join_btn:disabled {
      opacity: 0.2;
      cursor: not-allowed; }
