@charset "UTF-8";
/* свойства модального окна по умолчанию */
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* цвет фона */
  z-index: 103;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  transform: translateY(-25px);
  transition: .25s;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */ }
  .modal-layout {
    position: absolute;
    z-index: 102;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }

/* при отображении модального окно */
.modal:target {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  overflow-y: hidden; }

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 104; }
  @media (max-width: 560px) {
    .modal-dialog {
      transform: translate(0);
      margin: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box; } }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 640px;
    margin: 30px auto; } }
/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  padding-top: 30px; }

/* свойства для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef; }

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500; }

/* свойства для кнопки "Закрыть" */
.close {
  position: static;
  opacity: .5;
  width: 24px;
  height: 24px;
  display: flex; }
  @media (max-width: 770px) {
    .close {
      position: absolute;
      top: 20px;
      right: 20px; } }

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75; }

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto; }
