.presents {
  background: url("../../static/img/presents/header-image@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 120px 0 210px 0;
  margin-bottom: 100px; }
  @media (max-width: 770px) {
    .presents {
      padding: 40px 20px;
      margin-bottom: 20px; } }
  .presents_inner {
    max-width: 940px;
    margin: auto; }
  .presents_subtitle {
    font-family: Montserrat-Medium;
    color: #948889;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 75%; }
    @media (max-width: 770px) {
      .presents_subtitle {
        font-size: 16px;
        margin-bottom: 10px; } }
  .presents_title {
    font-size: 90px;
    line-height: 100px;
    max-width: 75%;
    margin-bottom: 60px; }
    .presents_title--red {
      color: #ff5100; }
    @media (max-width: 770px) {
      .presents_title {
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 40px;
        max-width: 90%; } }
  .presents_button {
    padding: 20px 30px;
    max-width: 35%; }
    @media (max-width: 415px) {
      .presents_button {
        width: 100%;
        max-width: 100%;
        padding: 25px 30px;
        margin-bottom: 70px; } }
