.ready {
  background: url("../../static/img/ready/footer-image.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 360px;
  padding: 0; }
  @media (max-width: 770px) {
    .ready {
      max-height: 550px; } }
  .ready_inner {
    max-width: 960px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 330px 0 160px 0; }
    @media (max-width: 560px) {
      .ready_inner {
        padding: 240px 20px 100px;
        width: 100%; } }
  .ready_title {
    font-size: 36px;
    color: #fff;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    line-height: 80px;
    font-weight: 600;
    letter-spacing: 0.12px;
    margin-bottom: 20px; }
    @media (min-width: 560px) {
      .ready_title {
        font-size: 60px;
        margin-bottom: 40px; } }
  .ready_btn {
    background-color: #d03c31; }
    .ready_btn:hover {
      background-color: #aa332b; }
