.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  @media (max-width: 770px) {
    padding: 20px;
  }
  &-link {
    color: rgba(0, 0, 0, 0.274);
    text-decoration: none;
  }
}