.footer {
  background-color: #191919;
  padding: 20px 0;
  @media (max-width: 770px) {
    padding: 20px 20px 25px 20px;
  }
  &_inner {
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 770px) {
      flex-direction: column;
    }
  }
  &_text {
    color: #948889;
    font-size: 12px;
    text-decoration: none;
    @media (max-width: 770px) {
      max-width: 80%;
    }
    &--bold {
      font-family: Montserrat-Medium;
      color: #706163;
      font-weight: 900;
    }
    &:first-child {
      @media (max-width: 770px) {
        margin-bottom: 15px;
        line-height: 24px;
      }
    }
  }
  &_link {
    font-size: 12px;
    text-decoration: none;
    color: #988c8d
  }
}