.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 940px;
  margin: auto;
  @media (max-width: 770px) {
    padding: 20px;
  }
  .navigation {
    .logo-link {
    }
    &_link {
      text-decoration: none;
      color: black;
      padding-left: 15px;
      font-weight: 900;
      @media (max-width: 770px) {
        font-size: 14px;
      }
    }
  }
}

.logo {
  @media (max-width: 770px) {
    max-width: 85%;
  }
}