.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  @media (max-width: 770px) {
    padding: 20px;
  }
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(255, 81, 0);
    bottom: 0;
    left: 0;
  }
  .navigation {
    .logo {
    }
    &_link {
      text-decoration: none;
      color: black;
      padding-left: 15px;
      font-weight: 900;
    }
  }
}