@import "./vars";
.ready {
  background: -webkit-image-set( url('../../static/img/ready/footer-image.jpg') 1x, url('../../static/img/ready/footer-image.jpg') 2x ) no-repeat top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 360px;
  padding: 0;
  @media (max-width: 770px) {
    max-height: 550px;
  }
  &_inner {
    max-width: $max-width;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 330px 0 160px 0;
    @media (max-width: 560px) {
      padding: 240px 20px 100px;
      width: 100%;
    }
  }
  &_title {
    font-size: 36px;
    color: #fff;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    line-height: 80px;
    font-weight: 600;
    letter-spacing: 0.12px;
    margin-bottom: 20px;

    @media (min-width: 560px) {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
  &_btn {
    background-color: $elude-red;

    &:hover {
      background-color: $elude-red--hover;
    }
  }
}
