@import "./vars";
.ready {
  background: url('../../static/img/ready/footer-image.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 360px;
  padding: 0;
  @media (max-width: 770px) {
    max-height: 550px;
  }
  &_inner {
    max-width: $max-width;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 330px 0 160px 0;
    @media (max-width: 560px) {
      padding: 215px 20px 70px;
      width: 100%;
    }
  }
  &_title {
    font-size: 60px;
    color: #fff;
    margin-bottom: 40px;
    @media (max-width: 770px) {
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 0.12px;
    }
    @media (max-width: 340px) {
      font-size: 32px;
    }
  }
  &_btn {
    background-color: $elude-red;

    &:hover {
      background-color: $elude-red--hover;
    }
  }
}
